<!DOCTYPE html>
<html lang="en" ng-app="application">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>InfluencR</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/flask_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">InfluencR</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">This could be Navbar Link if we need it</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {% for message in get_flashed_messages() %}
    <div style="margin-top: 20px;" class=flash>{{ message }}</div>
  {% endfor %}

  <div style="margin-top: 20px;" class="row">
    {% block body %}{% endblock %}
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/materialize/js/bin/materialize.js"></script>
  <script src="/static/materialize/js/init.js"></script>

  </body>
</html>
